<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hollie Beaumont</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="/js/script.js"></script>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <a class="header__title" href="/">Hollie Beaumont</a>
            <i class="header__toggle hamburger uil uil-bars"></i>    
            <nav class="nav">
                <div class="nav__list">
                    <a class="list__item work" href="/">Work</a>
                    <a class="list__item about" href="/about/">About</a>
                    <a class="list__item contact" href="/contact/">Contact</a>
                </div>    
                <div class="nav__action">
                    <a class="action__item instagram" href="https://www.instagram.com/" target="_blank"><i class="uil uil-instagram"></i></a>
                    <a class="action__item twitter" href="https://www.twitter.com/" target="_blank"><i class="uil uil-twitter"></i></a>
                </div>
            </nav>
        </header>
        <main class="main">

            {{ content | safe }}

        </main>
        <footer class="footer">
            <p>
                email@example.com<br>
                (555) 555-5555
            </p>
        </footer>
    </div>
</body>
</html>