<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hollie Beaumont</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="script.js"></script>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <nav class="nav">
                <ul class="menu">
                    <li class="menu__logo"><a href="/">Hollie Beaumont</a></li>
                    <li class="menu__toggle"><i class="uil uil-bars"></i></li>
                    <li class="menu__item"><a href="/">Work</a></li>
                    <li class="menu__item"><a href="/about/">About</a></li>
                    <li class="menu__item"><a href="/contact/">Contact</a></li>
                    <li class="menu__item icon instagram"><a href="https://www.instagram.com/" target="_blank"><i class="uil uil-instagram"></i></a></li>
                    <li class="menu__item icon twitter"><a href="https://www.twitter.com/" target="_blank"><i class="uil uil-twitter"></i></a></li>
                </ul>
            </nav>
        </header>
        <main class="main">

            {{ content | safe }}

        </main>
        <footer class="footer">
            <p>
                email@example.com<br>
                (555) 555-5555
            </p>
        </footer>
    </div>
</body>
</html>